<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Файловая система</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Bonbonsurce/messenger/public/css/news.css">
</head>
<body>
<div class="container">
    <div class="navigation-panel">
        <ul>
            <li><a href="/profile">Мой профиль</a></li>
            <li><a href="/news" class="active">Новости</a></li>
            <li><a href="/message">Сообщения</a></li>
            <li><a href="/files">Файлы</a></li>
        </ul>
    </div>
    <div class="files-section">
        <!-- Здесь будут отображаться новости -->
        <form id="files-form">

        </form>
    </div>
</div>
</body>
</html>
