body {
    font-family: Arial, sans-serif;
    background-color: #f2f5f8;
    color: #333;
    margin: 0; /* Убираем отступы по умолчанию */
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.navigation-panel {
    width: 200px;
    background-color: #c7ecee;
    border-radius: 10px;
    padding: 10px;
    flex-shrink: 0; /* Не позволяет элементу уменьшаться более, чем его изначальная ширина */
}

.navigation-panel ul {
    list-style-type: none;
    padding: 0;
}

.navigation-panel ul li {
    margin-bottom: 10px;
}

.navigation-panel ul li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
}

.navigation-panel ul li a.active {
    font-weight: bold;
    background-color: #3498db;
    color: #fff;
}

.dialogs-main {
    display: flex;
    flex-direction: column; /* Располагаем дочерние элементы в столбец */
    align-items: center; /* Выравниваем по центру по горизонтали */
    justify-content: center; /* Выравниваем по центру по вертикали */
    flex-grow: 1;
    height: auto;
}

.news-section,
.dialogs-section,
.additional-form,
#messageForm {
    flex-grow: 1; /* Расширяется на оставшееся пространство */
    margin-left: 20px; /* Добавляем небольшой отступ между блоками */
    height: auto;
}

.news-section,
.dialogs-section,
#messageForm {
    border: 1px solid #c7ecee;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
}

#news-form,
#additional-form {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498db; /* цвет границы */
}

.dialog-div {
    max-width: 800px;
    margin: 20px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 2px solid #3498db; /* цвет границы */
}

.auth-link {
    border: 1px solid #000;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    text-decoration: none;
}

/* Стили для текстового поля */
input[type="text"][name="text_message"] {
    padding: 5px 10px; /* отступ внутри поля */
    border: 2px solid #3498db; /* цвет границы */
    border-radius: 5px; /* скругление углов */
    font-size: 16px; /* размер текста */
    color: white;
}

/* Стили для кнопки отправки */
input[type="submit"][value="Отправить"] {
    padding: 10px 20px; /* отступ внутри кнопки */
    border: none; /* убираем границу */
    border-radius: 5px; /* скругление углов */
    background-color: #3498db; /* цвет фона */
    color: #fff; /* цвет текста */
    font-size: 16px; /* размер текста */
    cursor: pointer; /* указатель мыши */
}

/* Дополнительные стили для активной ссылки */
input[type="text"][name="text_message"]:focus{
    background-color: cornflowerblue;
    color: white;
}

input[type="submit"][value="Отправить"]:hover {
    background-color: #2980b9; /* изменяем цвет фона при наведении */
    color: white;
}

/* Стили для динамически добавляемых диалогов */
.dialog {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dialog h3 {
    margin-top: 0;
    color: #3498db;
}

.dialog p {
    margin-bottom: 0;
    color: #555;
}

/* Стили для заголовков новостей */
.news h2 {
    margin-top: 0;
    color: #3498db;
}

/* Стили для текста новостей */
.news p {
    margin-bottom: 0;
    color: #555;
}

/* Стили для дополнительной формы */
.additional-form {
    max-width: 15vw; /* Примерно 15% от ширины экрана */
}

.a-list {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 5px; /* Добавляем отступ снизу между ссылками */
}

.a-list :hover {
    background-color: #f2f2f2; /* Изменяем цвет фона при наведении */
    color: #555; /* Изменяем цвет текста при наведении */
}

#user-list {
    padding: 0;
    list-style: none;
}

#user-list li {
    text-align: left; /* Выравниваем текст влево */
    color: #2980b9;
}

.btn-submit {
    padding: 10px 20px; /* отступ внутри кнопки */
    border: none; /* убираем границу */
    border-radius: 5px; /* скругление углов */
    background-color: #2980b9; /* цвет фона */
    color: white; /* цвет текста */
    font-size: 16px; /* размер текста */
    cursor: pointer; /* указатель мыши */
    transition: background-color 0.3s ease; /* добавляем плавный переход цвета фона */
}

.btn-submit:hover {
    background-color: #3498db; /* изменяем цвет фона при наведении */
}
#additional-form {
    display: flex;
    flex-direction: column; /* Располагаем дочерние элементы в столбец */
    align-items: center; /* Выравниваем по центру по горизонтали */
    justify-content: center; /* Выравниваем по центру по вертикали */
    text-align: center; /* Выравниваем текст по центру */
    padding: 10px;
}

footer {
    background-color: #3498db; /* Нежный синий цвет */
    color: #fff; /* Белый цвет текста */
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0; /* Убираем отступы для абзаца */
}