<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сообщения</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Bonbonsurce/messenger/public/css/news.css">
</head>
<body>
    <div class="container">
        <div class="navigation-panel">
            <ul>
                <li><a href="/profile">Мой профиль</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/message" class="active">Сообщения</a></li>
                <li><a href="/files">Файлы</a></li>
            </ul>
        </div>
        <div class="dialogs-section">

        </div>
        <div class="additional-form">
            <!-- Дополнительная форма справа -->
            <form id="additional-form">
                <!-- Содержимое формы -->
            </form>
        </div>
    </div>
    
</body>
</html>
