<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сообщения</title>
    <link rel="stylesheet" href="/css/news.css">
    <script src="/scripts/message.js"></script>
</head>
<body>
    <div class="container">
        <div class="navigation-panel">
            <ul>
                <li><a href="/profile">Мой профиль</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/message" class="active">Сообщения</a></li>
                <li><a href="/foto">Фотографии</a></li>
                <li><a href="/music">Музыка</a></li>
            </ul>
        </div>
        <div class="dialogs-main">
            <div class="dialogs-section">

            </div>
            <div id="messageForm" style="display: none;">
                <form action="/send_message" method="post">
                    <input type="hidden" name="receiver_id" id="receiver_id"  value="">
                    <input type="hidden" name="sender_user_id" id="sender_user_id" value="<%= session_user_id %>">
                    <input type="text" name="text_message" placeholder="Введите ваше сообщение">
                    <input type="submit" value="Отправить">
                </form>
            </div>
        </div>
        <div class="additional-form">
            <form id="additional-form" style="display: none">
                <ul id="user-list">

                </ul>
                <button id="close-new-users" onclick="close_users()" class="btn-submit"> Закрыть </button>
            </form>
            <button id="write_new_user" onclick="write_new()" class="btn-submit">Написать новому пользователю</button>
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Месенджер. Все права защищены.</p>
    </footer>
</body>

</html>
