<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/scripts/authentication.js"></script>
    <style>
        button {
            width: 13em;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать!</h1>
    <div>
        <button onclick="showLoginForm()" class="auth-btn">Войти</button>
        <button onclick="showRegistrationForm()" class="auth-btn">Зарегистрироваться</button>
    </div>

    <div id="loginForm" style="display: none;">
        <span class="close-button" onclick="hideLoginForm()">✖</span>
        <h2>Форма входа</h2>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" required><br>
            <input type="password" name="password" placeholder="Пароль" required><br>
            <input type="submit" value="Войти">
        </form>
    </div>

    <div id="registrationForm" style="display: none;">
        <span class="close-button" onclick="hideRegistrationForm()">✖</span>
        <h2>Форма регистрации</h2>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" required><br>
            <input type="email" name="email" placeholder="Email" required><br>
            <input type="password" name="password" placeholder="Пароль" required><br>
            <textarea name="profile_info" placeholder="Информация о профиле"></textarea><br>
            <input type="submit" value="Зарегистрироваться">
        </form>
    </div>
</body>
</html>
