<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Профиль пользователя</title>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="/scripts/profile.js"></script>
</head>
<body>
    <div class="container">
        <div class="navigation-panel">
            <ul>
                <li><a href="/profile" class="active">Мой профиль</a></li>
                <li><a href="/news">Новости</a></li>
                <li><a href="/friends">Друзья</a></li>
                <li><a href="/message">Сообщения</a></li>
                <li><a href="/foto">Фотографии</a></li>
                <li><a href="/music">Музыка</a></li>
            </ul>
        </div>

        <div class="profile-section">
            <h2>Информация о пользователе</h2>
            <div class="user-info">
                <p id="user-name"></p>
                <p id="user-email"></p>
                <p id="user-date"></p>
            </div>
            <button class="edit-button">Редактировать информацию</button>
            <button class="add-photo-button">Изменить аватарку</button>
            <button class="settings-button">Настройки</button>
            <div class="news-section">
                <h3>Мои новости</h3>

            </div>
        </div>
        <div class="logo-div">
            <img id="image-logo">
        </div>
    </div>

    <footer>
        <p>&copy; 2024 Месенджер. Все права защищены.</p>
    </footer>
    
    <script>
        document.querySelector('.add-photo-button').addEventListener('click', () => {
            window.location.href = '/upload_form'; // Перенаправляем на страницу загрузки изображения
        });
    </script>
</body>
</html>
