<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Новости</title>
  <link rel="stylesheet" href="/css/news.css">
</head>
<body>
  <div class="container">
    <div class="navigation-panel">
      <ul>
        <li><a href="/profile" class="active">Мой профиль</a></li>
        <li><a href="/news">Новости</a></li>
        <li><a href="/friends">Друзья</a></li>
        <li><a href="/message">Сообщения</a></li>
        <li><a href="/foto">Фотографии</a></li>
        <li><a href="/music">Музыка</a></li>
      </ul>
    </div>
    <div class="buttons">
      <button> Черный список </button>
    </div>
  </div>
  <footer>
    <p>&copy; 2024 Месенджер. Все права защищены.</p>
  </footer>
</body>
</html>
